/*//////////// Home page ////////////*/
/* Title */
h1 {
  text-transform: uppercase;
  font-family: Impact;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 100%;
}


p {
  margin-bottom: 3rem;
  margin-top: 20px;
  font-size: 20px;
}

/*//////////////// Moon page //////////////*/
/* Title */
h2 {
  text-transform: uppercase;
  font-family: Impact;
  font-size: 50px;
  font-style: normal;
  line-height: 120%;
}

/* Title of description */
h3 {
  font-family: Impact;
  font-size: 20px;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 100%;
}

.fact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.moonbutton {
  padding: 5px 10px;
  border: none;
  background-color: #3f3f3f;
  color: white;
  border-radius: 5px;
  font-size: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
} 

.moon-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 300px;
}



/*/////////// Knappar //////////////*/
button {
  padding: 10px 20px;
  border: none;
  background-color: #3f3f3f;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: #5a5a5a;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*////////////// Hela hemsidan /////////////*/
.hero {
  text-align: center;
  position: relative;
  min-height: 20vh;
  padding: 85px 2rem 120px 2rem; /* plats för navbar och bottenbild */
  box-sizing: border-box;
}

.light {
  background-image: url('/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.dark {
  background-image: url('/stars.jpg');
  color: white;
}


* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #111;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Bottenbild */
.bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
  z-index: 0;
}





/*/////// Navigering /////////*/
nav {
  position: fixed;
  font-family: Impact;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 60px;
  height: 60px;
  box-sizing: border-box;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color:#fbf7f7;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 17px;
}

nav a:hover {
  border-color: #999;
}
